<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : BarbedFlower 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Data ViZ</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Homepage</a></li>
				<li><a href="/startups" accesskey="2" title="">Startups</a></li>
				<li class="active"><a href="/imports" accesskey="3" title="">Imports and Exports</a></li>
				<li><a href="/usfood" accesskey="4" title="">US Food</a></li>
				<li><a href="https://github.com/benliu91/" accesskey="5" title="">Beiming Liu</a></li>
				<li><a href="https://github.com/timdavidlee/" accesskey="6" title="">Tim Lee</a></li>
				<li><a href="https://www.usfca.edu/arts-sciences/graduate-programs/data-science" accesskey="7" title="">USF MSDS</a></li>
			</ul>
		</div>
	</div>
	</div>
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>TRADE WARS</h2>
				<span class="byline">The ins and outs of US Trade</span> 
			</div>
		</div>
	</div>

    
	<div id="page" class="container">
		<div class="title">
			  <h2>Motivation</h2>
			  <span class="byline">Understanding Global Trade is Hard. Doesn't have to be</span> 
		</div>
		<p> Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor.</p>
		<div id="three-column">
			<div class="boxA">
				<div class="box">
					<p>Description of the World bank datasets</p>
					<ul class="actions">
						<li><a href="#" class="button">World Bank</a></li>
					</ul>
				</div>
			</div>
			<div class="boxB">
				<div class="box">
					<p>Who is OEC, what data do they have?</p>
					<ul class="actions">
						<li><a href="#" class="button">OEC</a></li>
					</ul>
				</div>
			</div>
			<div class="boxC">
				<div class="box">
					<p> Kaggle dataset of "Who eats our food"</p>
					<ul class="actions">
						<li><a href="#" class="button">Kaggle</a></li>
					</ul>
				</div>
			</div>
		</div>		
		
  </div>

	<div id="featured">
		<div class="container">
			<div class="title">
				<h2>Chart 1: Exports - "It's a Gas"</h2>
				<span class="byline">Petroleum products by far make the world go around</span> 
			</div>
			

		</div>
		<iframe width="900" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/361.embed"></iframe>
	</div>
    
    
	<div id="extra" class="container">
		<div class="title">
			<h2>CHART 2: Imports - Give me your computers, give me your mid-sized cars</h2>
			<span class="byline">Top imports by country</span> </div>
		<iframe width="900" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/359.embed"></iframe>
	</div>
    
    <div id="featured">
		<div class="container">
			<div class="title">
				<h2>CHART 3: Givers and the Takers</h2>
				<span class="byline">Ratio of Exports over Imports by country over time</span> 
			</div>
			<iframe width="900" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/365.embed"></iframe>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Etiam posuere</a></li>
		</ul>
	</div>
 
	<div id="extra" class="container">
		<div class="title">
			<h2>CHART 4: Exports by Country(2014)</h2>
			<span class="byline">Top US grown foods</span> </div>
		<iframe width="900" height="900" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/375.embed"></iframe>
	</div>
    
    <div id="featured">
		<div class="container">
			<div class="title">
				<h2>CHART 5: Imports by Country(2014)</h2>
				<span class="byline">Top countries that eat US grown food</span> 
			</div>
		</div>
		<iframe width="900" height="900" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/371.embed"></iframe>
		<ul class="actions">
			<li><a href="#" class="button">Etiam posuere</a></li>
		</ul>
	</div>	

	

</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
