<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : BarbedFlower 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Data ViZ</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Homepage</a></li>
				<li><a href="/startups" accesskey="2" title="">Costs</a></li>
				<li  class="active"><a href="/imports" accesskey="3" title="">Trade Stats</a></li>
				<li><a href="/usfood" accesskey="4" title="">US Food</a></li>
				<li><a href="/volatility" accesskey="4" title="">Trends</a></li>
				<li><a href="https://github.com/benliu91/" accesskey="5" title="">Beiming Liu</a></li>
				<li><a href="https://github.com/timdavidlee/" accesskey="6" title="">Tim Lee</a></li>
				<li><a href="https://www.usfca.edu/arts-sciences/graduate-programs/data-science" accesskey="7" title="">USF MSDS</a></li>
			</ul>
		</div>
	</div>
	</div>
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>Imports and Exports</h2>
				<span class="byline">The art of 'Comparative Advantage'</span> 
			</div>
			<p> One of the most important concepts in economic theory, comparative advantage states that all countries, at all times, can <strong>mutually</strong> benefit from cooperation and voluntary trade. It is also a foundational principle in the theory of international trade.</p>

		</div>
	</div>
	<div id='featured'>
		<iframe width="600" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/416.embed"></iframe>
		<iframe width="600" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/414.embed"></iframe>
	</div>
	<div id='featured'>
		<div class='container'>
			<div id="three-column">
				<div class="boxA">
					<div class="box">
						<h2 style='color:white;'>China is the number #1 Exporter</h2>
						<p> As of 2014, China is the top exporter by value</p>
					</div>
				</div>
				<div class="boxB">
					<div class="box">
						<h2 style='color:white;'>US is the number #1 Importer</h2>
						<p>As of 2014, the US is the top importer by value</p>
					</div>
				</div>
				<div class="boxC">
					<div class="box">
						<h2 style='color:white;'>Triumvirate: China, US, Germany</h2>
						<p>Based on imports and exports, China, US, and Germany are heads and shoulders over other countries</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="extra">
		<div class="container">
			<div class="title">
				<h2>Chart 1: Exports - "It's a Gas"</h2>
				<span class="byline">Petroleum products by far make the world go around</span> 
			</div>
			<p> Click to select a single country from top left, see what the country is specialize in by checking out the top 7 exports</p>
			<iframe width="900" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/361.embed"></iframe>
		</div>
		
	</div>
    
    <div id="featured" >
		<div  class="container">
			<div class="title">
				<h2>CHART 2: Imports - Give me your computers, give me your mid-sized cars</h2>
				<span class="byline">Top imports by country</span> </div>
			<iframe width="900" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/359.embed"></iframe>
			<p> Click to select a single country from top left, see what the country needs the most!</p>
		</div>
	</div>
    

 	<div id="extra">
		<div class="container">
			<div class="title">
				<h2>CHART 3: Exports by Country(2014)</h2>
				<span class="byline">Top US grown foods</span> </div>
			<iframe width="900" height="900" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/375.embed"></iframe>
		</div>
	</div>
    
    <div id="featured">
		<div class="container">
			<div class="title">
				<h2>CHART 4: Imports by Country(2014)</h2>
				<span class="byline">Top countries that eat US grown food</span> 
			</div>
			<p> Heatmap of top 2014 exports and imports for major trading countries</p>
			<iframe width="900" height="900" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/371.embed"></iframe>
		</div>
		
		<ul class="actions">
			<li><a href="#" class="button">Back to Top</a></li>
		</ul>
	</div>	

	

</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
