<html>
<head>
</head>
<body>
	<h1>This is Tim and Beiming's Data Vis Website Placeholder</h1>
	<p>
		<ol>
			<li> Tim Lee - <a href='mailto:tdlee@dons.usfca.edu'>tdlee@dons.usfca.edu</a> </li>
			<li>Beiming Liu - <a href='mailto:bliu36@dons.usfca.edu'>mailto:bliu36@dons.usfca.edu</a> </li>
			<li>Github: <a href='https://github.com/benliu91/WTO_trade_viz'> https://github.com/benliu91/WTO_trade_viz </a> </li>
			<li>Dataset: World Trade Organization (WTO) Imports and Exports </li>
		</ol>
	</p>
</body>
</html>