<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : BarbedFlower 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Data ViZ</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Homepage</a></li>
				<li class="active"><a href="/startups" accesskey="2" title="">Startups</a></li>
				<li><a href="/imports" accesskey="3" title="">Imports and Exports</a></li>
				<li><a href="/usfood" accesskey="4" title="">US Food</a></li>
				<li><a href="https://github.com/benliu91/" accesskey="5" title="">Beiming Liu</a></li>
				<li><a href="https://github.com/timdavidlee/" accesskey="6" title="">Tim Lee</a></li>
				<li><a href="https://www.usfca.edu/arts-sciences/graduate-programs/data-science" accesskey="7" title="">USF MSDS</a></li>
			</ul>
		</div>
	</div>
	</div>
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>TRADE WARS</h2>
				<span class="byline">The ins and outs of US Trade</span> 
			</div>
		</div>
	</div>

    
	<div id="page" class="container">
		<div class="title">
			  <h2> So you want to start a business...</h2>
			  <span class="byline">The business of imports and exports</span> 
		</div>
		<p> Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor.</p>
		
  </div>

	<div id="featured">
		<div class="container">
			<div class="title">
				<h2>Chart 1: Cost of Doing Business</h2>
				<span class="byline">Starting in the Import/Export Business</span> 
				<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~BenLiu1991/85.embed"></iframe>
			</div>
			

		</div>
	</div>
    
    
	<div id="extra" class="container">
		<div class="title">
			<h2>CHART 2: Loco-Motion</h2>
			<span class="byline">Crazy railway shipping numbers</span> </div>
			<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~BenLiu1991/87.embed"></iframe>
	</div>
    
    <div id="featured">
		<div class="container">
	    	<img src="images/banner.jpg" alt="" width="1000" height="333" />
			<div class="title">
				<h2>CHART 3: "Ship it. Ship it real good." - Salt 'N Pepper</h2>
				<span class="byline">Logistic Index for China</span>
				<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~BenLiu1991/97.embed"></iframe><br>

				<span class="byline">Logistic Index for US</span>
				<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~BenLiu1991/103.embed"></iframe>
			</div>
		</div>

	</div>

	

</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
