<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : BarbedFlower 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Data ViZ</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Homepage</a></li>
				<li><a href="/startups" accesskey="2" title="">Costs</a></li>
				<li><a href="/imports" accesskey="3" title="">Trade Stats</a></li>
				<li  class="active"><a href="/usfood" accesskey="4" title="">US Food</a></li>
				<li><a href="/volatility" accesskey="4" title="">Trends</a></li>
				<li><a href="https://github.com/benliu91/" accesskey="5" title="">Beiming Liu</a></li>
				<li><a href="https://github.com/timdavidlee/" accesskey="6" title="">Tim Lee</a></li>
				<li><a href="https://www.usfca.edu/arts-sciences/graduate-programs/data-science" accesskey="7" title="">USF MSDS</a></li>
			</ul>
		</div>
	</div>
	</div>
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>TRADE WARS</h2>
				<span class="byline">The ins and outs of US Trade</span> 
			</div>
		</div>
	</div>
    
	<div id="extra" class="container">
		<div class="title">
			<h2>CHART 1: "Eat your veggies, otherwise someone else will"</h2>
			<span class="byline">Top US grown foods</span> </div>
		<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/229.embed"></iframe>
		
		<div id="three-column">
			<div class="boxA">
				<div class="box">
					<h2>Grain is King </h2>
					<p>As much as the current US diet avoids carbs and other grains, it is one of our largest segments of food produced across cereals, wheats, rice, and potatoes</p>
				</div>
			</div>
			<div class="boxB">
				<div class="box">
					<h2>Where's the beef?</h2>
					<p>Considering the large proportion of meat in the american diet, the US doesn't produce nearly as much meat compared to other products, as we see Pig, Chicken, and Meat lower on the chart</p>
				</div>
			</div>
			<div class="boxC">
				<div class="box">
					<h2>Fruits and Vegetables</h2>
					<p>The US produces are large volume of Fruits and Vegetables. Too bad our children (and most of our adults) don't really like them. (Probably because they don't come with a combo meal).</p>
				</div>
			</div>
		</div>
	</div>
    
    <div id="featured">
		<div class="container">
			<div class="title">
				<h2>CHART 2: China and India eat like growing teens</h2>
				<span class="byline">Top countries that eat US grown food</span> 
			</div>
			<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/227.embed"></iframe>
			
			<div id="three-column">
			<div class="boxA">
				<div class="box">
					<h2 style='color:white;'>Food leaves US</h2>
					<p>The US is 3rd in eating its own food. China, India, Brazil, and Russia all eat large portions </p>
				</div>
			</div>
			<div class="boxB">
				<div class="box">
					<h2 style='color:white;'>Importance of China's Market</h2>
					<p>The china market is the top market at 20-30% larger than the US for US-foods</p>
				</div>
			</div>
			<div class="boxC">
				<div class="box">
					<h2 style='color:white;'>Fruits and Vegetables</h2>
					<p>The US produces are large volume of Fruits and Vegetables. Too bad our children (and most of our adults) don't really like them. (Probably because they don't come with a combo meal).</p>
				</div>
			</div>
		</div>
		</div>
	</div>

	<div id="extra" class="container">
		<div class="title">
			<h2>CHART 3:</h2>
			<span class="byline">Top conusmers over the years</span> 
		</div>
		<iframe width="900" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/225.embed"></iframe>


		<iframe width="900" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/231.embed"></iframe>
		<p>China eats 3000 times more US food than Malta, big suprise no?</p>
	</div>
    <div id="featured">
		<div class="container">
			<div class="title">
				<h2>CHART 4: "The rest of the world isn't on Atkins"</h2>
				<span class="byline"></span> 
			</div>
			<iframe width="900" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/221.embed"></iframe>

			<iframe width="900" height="600" frameborder="0" scrolling="no" src="//plot.ly/~tdlee/223.embed"></iframe>

		</div>
	</div>	

	<div id="extra">
		<div class="container">
			<div class="title">
				<h2>CHART 5:</h2>
				<span class="byline">Different countries grow different food</span> </div>
			<iframe width="1000" height="1000" frameborder="0" scrolling="yes" src="//plot.ly/~tdlee/273.embed"></iframe>
		</div>
	</div>

</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
